## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [80]:
import pandas as pd
import numpy as np


bom_movie_gross = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/bom.movie_gross.csv.gz', delimiter = ',')
df_1 = bom_movie_gross
df_1.columns

Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [81]:
imdb_name_basics = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/imdb.name.basics.csv.gz', delimiter = ',')
df_2 = imdb_name_basics
df_2.columns

Index(['nconst', 'primary_name', 'birth_year', 'death_year',
       'primary_profession', 'known_for_titles'],
      dtype='object')

In [82]:
imdb_title_akas = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/imdb.title.akas.csv.gz', delimiter = ',')
df_3 = imdb_title_akas
df_3.columns

Index(['title_id', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'is_original_title'],
      dtype='object')

In [83]:
imdb_title_basics = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/imdb.title.basics.csv.gz', delimiter = ',')
df_4 = imdb_title_basics
df_4.columns

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [130]:
tmbd_movies = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/tmdb.movies.csv.gz', delimiter = ',')
df_5 = tmbd_movies
df_5.columns

pandas.core.frame.DataFrame

In [126]:
imdb_title_crew = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/imdb.title.crew.csv.gz', delimiter = ',')
df_6 = imdb_title_crew
df_6.columns
df_6

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
...           ...                            ...                  ...
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

[146144 rows x 3 columns]

In [87]:
imdb_title_principals = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/imdb.title.principals.csv.gz', delimiter = ',')
df_7 = imdb_title_principals
df_7.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [88]:
imdb_title_ratings = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/imdb.title.ratings.csv.gz', delimiter = ',')
df_8 = imdb_title_ratings
df_8.columns

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [91]:
rt_movie_info = pd.read_table('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/rt.movie_info.tsv.gz', delimiter = '\t')
df_9 = rt_movie_info
df_9.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [133]:
rt_reviews = pd.read_table('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/rt.reviews.tsv.gz', delimiter = '\t', encoding='latin-1')
df_10 = rt_reviews
df_10.columns

# file = '/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/rt.reviews.tsv'
# import chardet
# with open(file, 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

df_10.head(10)

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
5,3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
8,3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
9,3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"

In [134]:
tn_movie_budgets = pd.read_csv('/Users/jefelito/Data Science - Course Material/module01/dsc-mod-1-project-v2-1-nyc01-dtsc-ft-080320/zippedData/tn.movie_budgets.csv.gz', delimiter = ',')
df_11 = tn_movie_budgets
df_11.columns

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"